<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="no.ntnu.tdt4240"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:debuggable="true">
        <activity
            android:name=".activities.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.GameActivity"
            android:label="@string/new_game_label" />
        <activity
            android:name=".activities.GameSelectActivity"
            android:label="@string/game_select_label" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/settings_label" />
        <activity
            android:name=".activities.WinnerActivity"
            android:label="@string/settings_label" />
        <activity
            android:name=".activities.InstructionsActivity"
            android:label="@string/instructions_label" 
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/about_label"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
    </application>

</manifest>